/* variables */
#preview {
  --main-color: green;
  --highlight-color: blue;
  --bg-color: #eeeeee;
  --text-color: #111111;
}
/* page */
#preview {
  font-family: 'Roboto', sans-serif;
  background: var(--bg-color);
  margin: 0 auto;
  color: var(--text-color);
  columns: auto 2;
}
