body * {
  visibility: hidden;
}
#preview,
#preview * {
  visibility: visible;
}
#preview {
  position: absolute;
  left: 0;
  top: 0;
}
@page {
  size: 8.5in 11in;
  margin: .5in 0;
}

@page:first {
  margin-top: 0;
}