/* variables */
#preview-wrapper {
  --main-color: green;
  --highlight-color: blue;
  --bg: #eeeeee;
  --text-color: #111111;
  background: var(--bg);
}
#preview {
  font-family: 'Roboto', sans-serif;
  background: var(--bg);
  color: var(--text-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content;
}
/* base styles*/
h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  margin: 1.5rem 0;
}
h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}
h3 {
  font-weight: 600;
  margin: 0.75rem 0;
}
hr {
  display: none;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
p,
ul {
  margin-top: 1rem;
}

p:first-child,
ul:first-child {
  margin-top: 0;
}
p:last-child,
ul:last-child {
  margin-bottom: 0;
}
section {
  padding: 0 1rem;
}
.dan-clayton {
  background: var(--main-color);
  color: var(--bg);
  padding: 1rem;
  grid-column: 1/3;
  grid-row: 1/2;
}
.dan-clayton h2 {
  font-size: 3rem;
}
.dan-clayton h3 {
  font-size: 1.6rem;
}
.technical-skills ul,
.other-skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.technical-skills li,
.other-skills li {
  flex: 0 1 content;
  padding: 0.1rem;
}
.technical-skills li:after,
.other-skills li:after {
  content: ',';
}
.technical-skills li:last-child:after,
.other-skills li:last-child:after {
  content: '';
}
.objective {
  grid-column: 2/3;
  grid-row: 2/3;
}
.contact,
.technical-skills,
.other-skills,
.education {
  grid-column: 1/2;
  text-align: right;
}
.projects {
  grid-column: 2/3;
  grid-row: 3/7;
}
.work-history {
  display: none;
}
.work-history li:before {
  content: '-';
}
.projects p,
.work-history p,
.projects li,
.work-history li {
  font-size: 0.9rem;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}
